.update-room-container {
  padding: 30px;
}

.update-room-header {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
}
.update-room-content {
  display: flex;
  justify-content: center;
  margin-left: 300px;
  margin-top: 30px;
}
