.register-container {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}
.register-header {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin: 12px 0 16px 16px;
}

.register-wrap {
  min-width: 50%;
}
