.room-container {
  padding: 30px;
}

.room-header {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
}

.room-manage-link {
  text-decoration: none;
}

.room-add-new {
  margin-left: 20px;
  margin-bottom: 20px;
}
