.add-new-container {
  padding: 30px;
}

.add-new-header {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
}
.add-new-content {
  display: flex;
  justify-content: center;
  margin-left: 80px;
  margin-top: 30px;
}
