.login-container {
  display: flex;
  justify-content: center;
  padding: 32px 0 57px;
}

.login-header {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.login-wrap {
  min-width: 30%;
}
