.button-search-nav {
  background-color: #fff;
  color: black;
}
.header-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.d-flex {
  width: 500%;
  float: right;
  margin-left: 200px;
}
.homepage-link {
  text-decoration: none;
  color: white;
}
.homepage-logo {
  margin-bottom: 3px;
  display: block;
}

.homepage-nav {
  background-color: steelblue;
}
