.book-result,
.book-result-thank {
  text-align: center;
  font-weight: 400;
}

.book-result {
  margin: 100px 0 50px 0;
}

.book-result-icon {
  color: rgb(41, 180, 199);
  margin-left: 10px;
  font-size: 30px;
}
