.renter-container {
  padding: 30px;
}
.renter-header {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
}

.renter-list-dl .ant-list-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
